<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @to_do.name %>
</p>

<p>
  <b>Due on:</b>
  <%= @to_do.due_on %>
</p>

<p>
  <b>Completed:</b>
  <%= @to_do.completed %>
</p>


<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>
